/* Main styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.header-container {
  max-width: 1160px;
  margin: 0 auto;
}

.container {
  max-width: 1160px;

}

.list-style {
  display: flex;
  list-style: none;
}

/* Header */
.main-header {
  height: 80px;
  background: #000000;
  backdrop-filter: blur(2px)
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 80px;
}

.navbar__left-side {
  display: flex;
  align-items: center;
}

/* Logo */
.logo-text {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  width: 82px;
  text-align: center;
  margin-right: 70px;
  padding: 2px 5px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.logo-text a:link,
.logo-text a:visited {
  color: #fff
}

.logo-bamboo {
  position: relative;
}

.logo-bamboo::before {
  content: url("../../assets/images/logo.png");
  position: absolute;
  top: -2px;
  left: -4px;
}

/* Navbar link */
.active {
  color: orange;
}


.navbar-link {
  padding: 10px;
  margin-right: 40px;
}

.navbar-link a:link,
.navbar-link a:visited {
  color: #fff;
}

.navbar-link a:focus {
  color: orange;
}


/* Main banner */
.main-banner {
  background-image: url("../../assets/images/banner.png");
  height: 780px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}

.main-banner__container  {
  display: flex;
  max-width: 1160px;
  justify-content: flex-end;
}

.circle {
  position: relative;
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  text-align: center;
  /*margin-right: 80px;*/
}

.circle-content {
  position: absolute;
  top: 80px;
  left: 55px;
}

.circle-content__text {
  text-transform: uppercase;
  font-size: 106.5px;
  width: 500.31px;
  color: #fff;
  line-height: 75%;
}

.circle-content__favorite {
  color: #FFEE2E;
}

.circle-btn {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  display: inline-block;
  padding: 20px 90px;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  margin-top: 50px;
  text-transform: uppercase;
}

/* Info */
.outer-story {
  display: flex;
  align-items: center;
  justify-content: center;
}

.story {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.story__image {
  width: 45%;
}

.story__image img {
  width: 100%;
  object-fit: cover;
}

.story-info {
  color: #333B41;
  width: 45%;
}

.story-info__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin: -8px 0 30px 0;
}

.story-info__sub {
  line-height: 21px;
  margin-bottom: 20px;
}

.story-info__more-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  margin: 40px 0;
}

.story-info__more-para {
  line-height: 140%;
}

.story--flower  {
  position: absolute;
  right: 0;
}