/* Main styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.list-style {
  display: flex;
  list-style: none;
}

/* Header */
.main-header {
  height: 80px;
  background: #000000;
  backdrop-filter: blur(2px)
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 80px;
}

.navbar__left-side {
  display: flex;
  align-items: center;
}

/* Logo */
.logo-text {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  width: 82px;
  text-align: center;
  margin-right: 70px;
  padding: 2px 5px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.logo-text a:link,
.logo-text a:visited {
  color: #fff
}

.logo-bamboo {
  position: relative;
}

.logo-bamboo::before {
  content: url("../../assets/images/logo.png");
  position: absolute;
  top: -2px;
  left: -4px;
}

/* Navbar link */
.active {
  color: orange;
}


.navbar-link {
  padding: 10px;
  margin-right: 40px;
}

.navbar-link a:link,
.navbar-link a:visited {
  color: #fff;
}

.navbar-link a:focus {
  color: orange;
}


/* Main banner */
.main-banner {
  background-image: url("../../assets/images/banner.png");
  height: 780px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.circle-content {
  position: absolute;
  left: calc(50% - 465px/2 + 239.5px);
  top: 92px;
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  text-align: center;
}

.circle-content__text {
  text-transform: uppercase;
  font-size: 106.5px;
  width: 500.31px;
  color: #fff;
}

.circle-content__favorite {
  color: #FFEE2E;
}

.circle-btn {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  display: inline-block;
}