
/* Main banner */
.main-banner__container  {
  display: flex;
  max-width: 1160px;
  align-items: center;
  margin: 0 auto;
  justify-content: flex-end;
}

.circle {
  /* position: relative; */
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  left: -73px;
  bottom: 10px;
  z-index: -1;
  /* text-align: center;
  margin-top: 20px; */
}

.favourite {
  color: #FFEE2E;
}

.circle-content {
  /* position: absolute;
  top: 80px;
  left: 55px; */
  width: 500px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.circle-content__text {
  position: relative;
  font-size: 106.5px;
  line-height: 75%;
  z-index: 10;
  margin-bottom: 50px;
  /* width: 500.31px; */
}

.circle-content__favorite {
  color: #FFEE2E;
}

/* Info */
.story-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story__image {
  width: 45%;
  align-self: stretch;
  object-fit: cover;
}

.story-info {
  color: #333B41;
  width: 45%;
}

.story-info__sub {
  line-height: 21px;
  margin-bottom: 20px;
}

.story-info__more-para {
  line-height: 140%;
}

.story--flower  {
  position: absolute;
  right: -20px;
  bottom: -80px;
  transform: translate(100%, 0);
}

/* Cards */
.card-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.arrow {
  display: inline-block;
  align-self: center;
  line-height: 62px;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  width: 62px;
  height: 62px;
  margin: 0 20px;
}

.arrow:hover {
  cursor: pointer;
  background: #E47209;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  border-radius: 5px;
  border: 1px solid orange;
  margin-bottom: 20px;
}

.card-picture {
  width: 366px;
  height: 366px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 15px;
}

.card-info__title {
  text-transform: uppercase;
  line-height: 140%;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
}

.card-info__para {
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
}

.card-btn {
  background-color: #FE9013;
}

.card-btn:hover {
  background-color: #E47209;
}

.card-left-pic {
  position: absolute;
  left: -140px;
  bottom: 0;
}

.card-right-pic {
  position: absolute;
  right: -50px;
  bottom: 0;
}

/* Feed a friend */
.feed-friend__section {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
  padding: 100px 0;
}

.feed-friend-items {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  padding: 50px 70px;
  border-radius: 20px;
}

.feed-friend-item {
  color: #333B41;
  padding-bottom: 40px;
}

.feed-friend-item h2 {
  color: #FE9013;
}

.feed-friend__para {
  line-height: 130%;
  padding-bottom: 10px;
}

.emergency-text {
  border-bottom: 1px solid #FE9013;
  padding-bottom: 1px;
  color: #333B41;
  transition: border .2s;
}

.emergency-text:hover {
  border: none;
}

/* Feed friend cards */
.feed-friend-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-friend-cards__items {
  display: flex;
  align-items: center;
}

.feed-friend-cards__item {
  display: flex;
  align-items: center;
}

.feed-friend-cards__pic {
  width: 168px;
  height: 244px;
}

.feed-friend-cards__pic-container {
  position: relative;
  height: 168px;
  width: 168px;
  background-color: #fff;
  border: 1px solid orange;
  border-radius: 5px;
}

.feed-friend-cards__pic-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feed-friend-cards__pic-info {
  padding-top: 30px;
}

.feed-friend-card__arrow {
  position: relative;
  left: 36px;
  margin: 30px;
  transform: translate(-50%, -50%);
}

/* Comments */
.comments-section > .container {
  position: relative;
  /* flex-direction: column; */
}

.comment-items {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.comment-item {
  max-width: 268px;
  background: #F1F3F2;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.comment-item:not(:last-child) {
  margin-right: 30px;
}

.comment-item::before {
  content: "";
  background-image: linear-gradient(315.75deg, rgba(254,189,171,0.74) 30.06%, rgba(243,169,248,0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%),linear-gradient(315.75deg, rgba(254,189,171,0.74) 30.06%, rgba(243,169,248,0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  border-radius: 20px;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  position: absolute;
  z-index: -1
}

.comment-info {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.comment-person {
  padding-left: 10px;
}

.comment-name {
  font-size: 16px;
  font-weight: 400;
}

.comment-date {
  color: #BDBDBD;
  font-size: 15px;
  font-weight: 300;
}

.comment-text p {
  color: #767474;
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
}

.comments-section input[type="range"] {
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 600px;
    height: 8px;
    display: block;
    margin: 0 auto;
    background-color: #f1f3f2;
    border-radius: 5px;
    overflow-y: hidden;
}

.comment-plant {
  position: absolute;
  transform: translate(100%, 100%);
  bottom: 170px;
  right: 120px;
}

@media only screen and (max-width: 320px) {
  /* Main banner */
  .main-banner__container {
    width: 96%;
    margin: 0;
  }

  .circle-content {
    width: 128px;
  }
  
  .circle-content__text {
    font-size: 28px;
  }

  .circle {
    width: 119px;
    height: 119px;
    left: -25px;
  }

  /* Story */
  .story__image {
    display: none;
  }

  .story-info {
    width: 100%;
  }

  .story--flower {
    width: 105px;
    height: 217px;
    object-fit: contain;
    top: -15px;
    right: 45px;
  }

  /* Cards */
  .arrow {
    display: none;
  }

  .card-left-pic {
    object-fit: contain;
    width: 138px;
    height: 72px;
    left: -45px;
  }

  .card-right-pic {
    width: 85px;
    height: 71px;
    right: -20px;
  }

  .card-btn__div {
    margin-bottom: 30px;
  }

  /* Feed a friend */
  .feed-friend__section {
    padding: 20px 0;
  }

  .feed-friend-items {
    padding: 10px;
  }

  .feed-friend-item {
    padding-bottom: 10px;
  }

  .feed-friend-item h4 {
    text-align: center;
    font-size: 18px;
  }

  .feed-friend__para {
    display: none;
  }

  .feed-friend-cards__items {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .feed-friend-cards__pic-info {
    padding-top: 10px;
  }

  /* Comments */
  .comment-items {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .comment-item:not(:last-child) {
    margin-right: 0;
    height: 109px;
    margin-bottom: 20px;
  }

  .comment-item:last-child {
    display: none;
  }

  .comments-section .text-sub--2 {
    padding-bottom: 30px;
  }

  .comment-text {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 252px;
    height: 38px;
  }

  .comments-section input[type="range"] {
    display: none;
  }

  .comment-plant {
    width: 77px;
    height: 75px;
    object-fit: contain;
    bottom: 0;
    right: 55px;
  }
}