/* Main styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.center {
  text-align: center;
}

.fw-500 {
  font-weight: 500;
}

.space {
  margin-bottom: 100px;
}

.header-container {
  max-width: 1160px;
  margin: 0 auto;
}

.container {
  /* display: flex; */
  max-width: 1160px;
}

.list-style {
  display: flex;
  list-style: none;
}

.text-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin: -8px 0 30px 0;
}

.text-sub {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  margin: 40px 0;
}

.text-sub--2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 130%;
  padding-bottom: 50px;
}

/* Header */
.main-header {
  height: 80px;
  background: #000000;
  backdrop-filter: blur(2px)
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 80px;
}

.navbar__left-side {
  display: flex;
  align-items: center;
}

/* Logo */
.logo-text {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  width: 82px;
  text-align: center;
  margin-right: 70px;
  padding: 2px 5px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.logo-text a:link,
.logo-text a:visited {
  color: #fff
}

.logo-bamboo {
  position: relative;
}

.logo-bamboo::before {
  content: url("../../assets/images/logo.png");
  position: absolute;
  top: -2px;
  left: -4px;
}

/* Navbar link */
.active {
  color: orange;
}


.navbar-link {
  padding: 10px;
  margin-right: 40px;
}

.navbar-link a:active {
  color: orange;
}


/* Main banner */
.main-banner {
  background-image: url("../../assets/images/banner.png");
  height: 780px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}

.main-banner__container  {
  display: flex;
  max-width: 1160px;
  justify-content: flex-end;
}

.circle {
  position: relative;
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  text-align: center;
  /*margin-right: 80px;*/
}

.circle-content {
  position: absolute;
  top: 80px;
  left: 55px;
}

.circle-content__text {
  text-transform: uppercase;
  font-size: 106.5px;
  width: 500.31px;
  color: #fff;
  line-height: 75%;
}

.circle-content__favorite {
  color: #FFEE2E;
}

.btn-1 {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  display: inline-block;
  padding: 20px 90px;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  margin-top: 50px;
  text-transform: uppercase;
}

.btn-2 {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  display: inline-block;
  padding: 20px 90px;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  margin-top: 50px;
  text-transform: uppercase;
}

.btn-1:hover,
.btn-2:hover {
  background: #E47209;
 }

/* Info */
.outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.story {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.story__image {
  width: 45%;
  align-self: stretch;
  object-fit: cover;
}

.story-info {
  color: #333B41;
  width: 45%;
}

.story-info__sub {
  line-height: 21px;
  margin-bottom: 20px;
}

.story-info__more-para {
  line-height: 140%;
}

.story--flower  {
  position: absolute;
  right: 0;
}

/* Cards */
.card-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.arrow {
  display: inline-block;
  align-self: center;
  line-height: 62px;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  width: 62px;
  height: 62px;
  margin: 0 20px;
}

.arrow:hover {
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  border-radius: 5px;
  border: 1px solid orange;
  margin-bottom: 20px;
}

.card-picture {
  width: 366px;
  height: 366px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 15px;
}

.card-info__title {
  text-transform: uppercase;
  line-height: 140%;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
}

.card-info__para {
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
}

.card-btn {
  display: inline-block;
  font-weight: 500;
  margin: 60px;
  line-height: 140%;
  background-color: #FE9013;
  border-radius: 25px;
  padding: 20px 90px;
  font-size: 16px;
  text-transform: uppercase;
  transition: all .2s;
}

.card-btn:hover {
  background-color: #E47209;
}

.card-left-pic {
  position: absolute;
  left: 0;
  bottom: 0;
}

.card-right-pic {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Feed a friend */
.feed-friend__section {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
  padding: 100px 0;
}

.feed-friend-items {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  padding: 50px 70px;
  border-radius: 20px;
}

.feed-friend-item {
  color: #333B41;
  padding-bottom: 40px;
}

.feed-friend-item h2 {
  color: #FE9013;
}

.feed-friend__para {
  line-height: 130%;
  padding-bottom: 10px;
}

.emergency-text {
  border-bottom: 1px solid #FE9013;
  padding-bottom: 1px;
}

/* Feed friend cards */
.feed-friend-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-friend-cards__items {
  display: flex;
  align-items: center;
}

.feed-friend-cards__item {
  display: flex;
  align-items: center;
}

.feed-friend-cards__pic {
  width: 168px;
  height: 244px;
}

.feed-friend-cards__pic-container {
  position: relative;
  height: 168px;
  width: 168px;
  background-color: #fff;
  border: 1px solid orange;
}

.feed-friend-cards__pic-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feed-friend-cards__pic-info {
  padding-top: 30px;
}

.feed-friend-card__arrow {
  position: relative;
  left: 36px;
  margin: 30px;
  transform: translate(-50%, -50%);
}

/* Comments */
.comment-items {
  display: flex;
  justify-content: space-evenly;
}

.comment-item {
  max-width: 268px;
  min-height: 391px;
  background: #F1F3F2;
  border-radius: 20px;
  padding: 20px;
}

.comment-item:not(:last-child) {
  margin-right: 30px;
}

.comment-info {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.comment-person {
  padding-left: 10px;
}

.comment-name {
  font-size: 16px;
  font-weight: 400;
}

.comment-date {
  color: #BDBDBD;
  font-size: 15px;
  font-weight: 300;
}

.comment-text p {
  color: #767474;
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
}