/* Main styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.center {
  text-align: center;
}

.fw-500 {
  font-weight: 500;
}

.space {
  /* padding-bottom: 100px; */
  padding: 100px 0;
}

.over-hidden {
  overflow: hidden;
}

.header-container {
  width: 1160px;
  margin: 0 auto;
}


.outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.list-style {
  display: flex;
  list-style: none;
}

.text-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin: -8px 0 30px 0;
}

.text-sub {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  margin: 40px 0;
}

.text-sub--2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 130%;
  padding-bottom: 50px;
}

.btn-1 {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  display: inline-block;
  width: 298px;
  height: 54px;
  line-height: 54px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 50px;
  text-transform: uppercase;
  text-align: center;
}

.btn-2 {
  border-radius: 5px;
}

.btn-1:hover,
.btn-2:hover {
  background: #E47209;
 }

 .btn-1:active,
 .btn-2:active {
  background-color: #4B9200;
 }

 /* Header */
.main-header {
  height: 80px;
  background: #000000;
  backdrop-filter: blur(2px)
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 80px;
}

.navbar__left-side {
  display: flex;
  align-items: center;
}

/* Logo */
.logo-text {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  width: 82px;
  text-align: center;
  margin-right: 70px;
  padding: 2px 5px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.logo-text a:link,
.logo-text a:visited {
  color: #fff
}

.logo-bamboo {
  position: relative;
}

.logo-bamboo::before {
  content: url("../../assets/images/logo.png");
  position: absolute;
  top: -2px;
  left: -4px;
}

/* Navbar link */
.active {
  color: orange;
}


.navbar-link {
  padding: 10px;
  transition: color .2s;
}

.navbar-link:not(:last-child) {
  margin-right: 40px;
}

.navbar-link a:hover {
  color: orange;
}

.navbar-links:hover .active {
  color: #fff;
}

.main-banner {
  background-image: url("../../assets/images/banner.png");
  height: 780px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 86px;
  padding-bottom: 100px;
}

/* Footer */
.main-footer {
  height: 400px;
  background-color: #000;
}

.footer-items {
  display: flex;
  color: #fff;
  justify-content: space-between;
}

.footer-nav {
  align-self: flex-end;
}

.footer-form-title {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  padding-bottom: 20px;
}

.footer-btn {
  margin-bottom: 40px;
}

.social-icon__item {
  margin-bottom: 10px;
  list-style: none;
}

.social-icon__item a {
  display: flex;
  align-items: center;
}

.social-icon {
  width: 26px;
  height: 26px;
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
}

.social-link:active .social-icon {
  background-color: #4B9200;
}

/* .social-link:hover .social-icon {
  background-color: #E47209;
} */

.social-text {
  margin-left: 10px;
  color: #fff;
}

.social-link:active .social-text {
  color: #4B9200;
}

/* .social-link:hover .social-text {
  color: #E47209;
} */

.footer-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-input input[type="email"] {
  width: 228px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #f9804b;
  border-radius: 2px;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  background-color: #000;
  color: #fff;
}

.footer-input ::placeholder {
  color: #BDBDBD;
}

.footer-input button {
  cursor: pointer;
  background-color: #f1f3f2;
  color: #000;
  font-size: 16px;
  border: 1px solid #333b41;
  border-radius: 5px;
  width: 129px;
  height: 42px;
}

.footer-input button:active {
  border: 1px solid #4B9200;
  color: #4B9200;
}

.footer-right {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: space-between;
}

.footer-rights {
  align-self: flex-end;
}

.footer-rights p {
  line-height: 130%;
  font-weight: 100;
}

@media only screen and (max-width: 640px) {
  .container,
  .header-container {
    width: 92%;
  }

  /* Main banner bg */
  .main-banner {
    height: 373px;
    /* margin-top: -3px;
    padding-top: 42px; */
  }

  /* Navigation bar */
  .main-header,
  .navbar {
    height: 34px;
  }

  .logo-text {
    border: none;
    font-size: 12px;
    line-height: 120%;
    width: 47px;
  }

  .navbar .navbar-links,
  .navbar .navbar__right-side {
    display: none;
  }

  /* Footer */
  .footer-form {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .container,
  .header-container {
    width: 96%;
  }
  
  /* Main banner bg */
  .main-banner {
    height: 187px;
    margin-top: -3px;
    padding-top: 42px;
  }

  /* btn */
  .circle-content .btn-1 {
    position: absolute;
    left: 10px;
    margin-top: 10px;
  }

  .comments-section .btn-1 {
    margin-top: 10px;
    width: 240px;
  }

  /* Text */
  .text-title {
    font-size: 24px;
    margin: 10px 0;
    padding-top: 45px;
  }

  /* Text sub and feed friend btn */
  .text-sub,
  .feed-friend-item .btn-1 {
    margin: 0 0 10px;
  }

  .text-sub--2 {
    font-size: 24px;
    padding-bottom: 20px;
  }

  /* Space */
  .space {
    padding: 50px 0;
  }

    /* Footer */
  .main-footer {
    height: 300px;
  }
  
  .footer-items {
    flex-direction: column;
  }

  .footer-item .logo-text {
    width: 100%;
    font-size: 19px;
  }

  .footer-btn {
    margin: 20px 0;
  }

  /* Social icons */
  .social-icon__items {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-text {
    display: none;
  }

  /* Footer navbar */
  .footer-nav {
    align-self: center;
  }
  
  .footer-nav .navbar-link:not(:last-child) {
    margin-right: 0;
  }

  .footer-nav .navbar-links {
    gap: 10px;
  }
  
  /* .footer-item-right:nth-of-type(2) {
    order: 3;
  }

  .footer-item-right:nth-of-type(3) {
    order: 2;
  } */

  .footer-item:nth-of-type(3) {
    order: 2;
  }

  .footer-item:nth-of-type(2) {
    order: 3;
  }

  .footer-rights p {
    font-size: 15px;
    line-height: 120%;
    margin: 12px 0;
  }
}
