/* Feed a friend */
.feed-friend__section {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
  padding: 50px 0 150px;
}

.feed-friend-items {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  padding: 50px 70px;
  border-radius: 20px;
}

.feed-friend-item {
  color: #333B41;
  padding-bottom: 40px;
}

.feed-friend-item h2 {
  color: #FE9013;
}

.feed-friend__para {
  line-height: 130%;
  padding-bottom: 10px;
}

/* Donation white text */
.donation-info {
  color: #FFFFFF;
}
.donation-info__title {
  font-size: 36px;
  line-height: 130%;
  padding-bottom: 10px;
  font-weight: 400;
}

.donation-info__para {
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
}

.sec-title {
  color: #FE9013;
  padding: 50px 0 60px;
}

/* Panda donate */
.panda-donate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.x-icon__container {
  padding-right: 20px;
}

.feed-friend__left {
  display: flex;
  align-items: center;
  margin: 60px 60px 0;
  position: relative;
}

.feed-friend__left img {
  position: absolute;
  right: -20px;
  bottom: 50%;
}

.four {
  font-size: 72px;
  font-weight: 500;
  color: #000;
  line-height: 80%;
  margin-bottom: 10px;
}

.amount-items {
  justify-content: space-between;
  border-top: 10px solid #404950;
  border-right: 30px solid #404950;
  border-bottom: 10px solid #404950;
  border-left: 20px solid #404950;
  background: #72828E;
  position: relative;
  padding: 1px;
  margin-top: 20px;
}

.amount-btn {
  position: absolute;
  bottom: -7px;
  border: none;
  background: transparent;
}

.yellow-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #FFEE2E;
  border-radius: 50%;
  transition: all .2s;
  text-align: center;
  position: relative;
  text-decoration: none;
  z-index: 1;
}
.yellow-circle:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content:'';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.yellow-circle:before {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content:'';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.yellow-circle.effect {
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
.yellow-circle.effect:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 1.5px rgba(254, 144, 19, 1);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(.8);
  opacity: 0;
}
.yellow-circle.effect:before {
  top: -12px;
  left: -12px;
  padding: 12px;
  box-shadow: 0 0 0 1.5px rgba(254, 144, 19, 1);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(.8);
  opacity: 0;
}
/* EFFECT */

button.amount-btn:hover .yellow-circle.effect.sub:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
button.amount-btn:hover .yellow-circle.effect.sub:before {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 1;
}
button.amount-btn>.amount-money:hover {
  color: #FE9013;
}

.amount-money {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  right: -30px;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  color: #333B41;
}

.amount-money i {
  font-size: 22px;
}

/* Bottom part */
.amount-input-container {
  position: relative;
  display: inline-block;
  color: #929699;
}

.input-amount {
  background: transparent;
  padding: 12px 5px;
  line-height: 140%;
  border: 1px solid #929699;
  border-radius: 2px;
  font-size: 16px;
  width: 268px;
  height: 54px;
}

.input-amount:focus {
  outline: none;
  border: 1px solid #4B9200;
}

input.input-amount:focus::placeholder,
input.input-amount:focus+.dolar-icon {
  color: #4B9200;
}

.dolar-icon {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 20px;
}

/* Input */
.input-container {
  margin-top: 100px;
  padding-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.radio-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-p {
  display: flex;
  align-items: center;
  padding: 30px;
}

input[type="radio"],
label {
  cursor: pointer;
}

input[type="radio"] {
  height: 16px;
  width: 16px;
}

.radio-input {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  margin-right: 10px;
}

.radio-input:focus-visible {
  outline-offset: 0;
}

.box-shadow {
  box-shadow: 0 0 0 1px #FE9013;
}

.box-shadow:hover {
  border-width: 0;
}

.box-shadow:checked {
  box-shadow: 0 0 0 1px #4B9200;
  background-color: #4B9200;
  border-width: 0.2rem;
}

.donate-feed-btn {
  margin-top: 10px;
}

.share-with-friends {
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  color: #333B41;
  margin-top: 30px;
}